{% extends 'base.html.twig' %}

{% block body %}
    <table>
    <tr>
        <th>Id</th>
        <th>Text</th>
        <th>Publicationdate</th>
        <th>Note</th>
        <th>Actions</th>
    </tr>
    <tr>
        <td>{{ review.id }}</td>
        <td>{{ review.text }}</td>
        <td>{{ review.publicationDate | date("m/d/Y") }}</td>
        <td>{{ review.note }}</td>
        <td>{{ review.id }}</td>


    </tr>
    </table>

    {{ form_start(delete_form) }}
    <input type="submit" value="Delete">
    {{ form_end(delete_form) }}



{% endblock %}

